@model Concessionaria
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <a asp-controller="Concessionaria" asp-action="Details" asp-route-ConcessionariaId="@Model.ConcessionariaId">
            Concessionária : @Model.Nome
            </a>
            </h5>

        <p class="card-text">Estado: @Model.Estado</p>
        <p class="card-text">Capacidade Total de veículos: @Model.CapacidadeMaximaVeiculos</p>
        <div class="btn-group">
            <a asp-controller="" asp-action="" class=" btn btn-primary ">Ver Vendas</a>

            &nbsp;&nbsp;&nbsp;
            <a onclick="confirmDelete(@Model.ConcessionariaId)" class=" btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<script>
    function confirmDelete(ConcessionariaId) {
        if (confirm("Tem certeza que deseja excluir este Veiculo?")) {
            window.location.href = `/Concessionaria/Delete?ConcessionariaId=${ConcessionariaId}`;
        }
    }
</script>