@model Concessionaria

<div class="container">
    <div class="row">
        <div class="card">
            
            <div class="card-block">
                <h2 class="card-title">
                   Concessionaria: @Model.Nome
                </h2>
                <p class="card-text">
                    <h5>
                        Endereço: @Model.Endereco
                    </h5>
                    <h5>
                        Cidade: @Model.Cidade
                    </h5>
                    <h5>
                        Estado: @Model.Estado
                    </h5>
                    <h5>
                        CEP: @Model.CEP
                    </h5>
                </p>
                <p class="card-text">
                    <h4> Contatos: </h4>
                    <h5>
                        Telefone: @Model.Telefone
                    </h5>
                    <h5>
                        Email: @Model.Email
                    </h5>
                </p>
                <p class="card-text">
                    <h4> Capacidade máxima de veiculos: @Model.CapacidadeMaximaVeiculos </h4>
                </p>
            </div>
        </div>
    </div>
</div>